@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: 'Nunito Sans';
}

h1 {
    font-weight: 300;
}

h1, h2, h3, h4, p {
    color: #020617a1
}

.brands::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.brands {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.monohigh {
    font-family: "Ubuntu Condensed";
    line-height: 10vh !important;
}

.mono {
    font-family: "Ubuntu Condensed";
}

.high {
    line-height: 7vh !important;
}

.hand {
    font-family: "Just Another Hand";
}